<div class ="jumbotron">
<h1>Welcome To My App</h1>
<p> Click Here To <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg active" %>.</p>
<img src="http://www.billboard.com/files/styles/article_main_image/public/media/kim-kanye-2014-lacma-billboard-650.jpg" alt="Sup" class="img-responsive">

</div>